body, p, li, table {
  font-size: 1.3rem !important; 
  line-height: 1.8 !important;
  color: #333 !important; // 글자색도 좀 더 진하게
}
.nav-list-item {
  font-size: 1.1rem !important;
}

h1 { font-size: 2.5rem !important; }
h2 { font-size: 2rem !important; }